@import '../../styles/settings.scss';

.columnForm {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.label {
    margin: auto 10px;
}
  
@media (max-width: 620px) {    
    .columnForm {
        flex-direction: column;
        align-items: center;
    }
}